.ui.modal.modal-container {
  font-family: "Titillium Web", Verdana, sans-serif;
  font-size: large;
  height: auto;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
}

.ui.header.description-header {
  font-family: "Titillium Web", Verdana, sans-serif;
}
